.gradle/
.idea/
zuul/build/
data/
organization/build/
authentication/build/
common-web/build/
common/build/
common-db/build/
echo/build/
config/build/
eureka/build/
gateway/build/
authentication-client/build/
